[class*="col-"] {
  border: solid 0.2px lightgrey;
}

.menu{
 background-color: rgb(25, 46, 85);
}

.sfondo-jumbotrom{
  background-color: rgb(14, 122, 117);
}

.jumbotrom .logo{
  height: 180px;
  line-height: 180px;
}

main .container .row.inf{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightgoldenrodyellow;
}

main .container .row.img .img{  
  height: 150px;
  line-height: 150px;
  margin-bottom: 15px;
  background-color: lightgoldenrodyellow;
}





.row.menu .col-xs-8,.col-xs-4{
  color: white;
  height: 40px;
  line-height:40px;
}