[class*="col-"] {

}

main .row.img .cont-img{
  border: solid black;
}
/* backgrouns */
.menu{
  color: white;
 background-color: rgb(25, 46, 85);
}

.sfondo-jumbotrom,.about{
  color: white;
  background-color: #1BBC9B;
}

footer .social{
  color: white;
  background-color: #3A546D;
}

footer .legal{
  color: white;
  background-color: #1e2b38;
}

/* menu */
.row.menu .col-xs-8,.col-xs-4{
  height: 42px;
  line-height:40px;
}

.row.menu .nav-r{
  padding: 0 10px;
  height: 42px;
  line-height: 40px;
}

/* jumbotrom */
.jumbotrom .logo{
  
  height: 180px;
  line-height: 180px;
}

.jumbotrom .logo .avatar {
  width: 10%;
  min-width: 150px;
  max-width: 180px;
  min-height: 100%;
  margin: auto;
}

/* main- section-1 */
main .container .row.inf{
  margin-top: 10px;
  margin-bottom: 10px;
}

main .container .row.img img{  
  width: 100%;
  max-width: 450px;
  height: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: lightpink;
}

/* main- section-2 */
section .row.about{
  padding: 10px 100px;
}
section .row.about .col-xs-12{
  padding-bottom: 20px;
}

section .row.about .col-xs-12 button{
  color: white;
  background-color: #1BBC9B;
  border: white 1px solid;
}

/* main- section-3 */
section .container .row.contact{
  padding: 20px 30px;
  line-height: 50px;
}

section .container .row.contact .col-xs-12 input{
  border: none;
}
section .container .row.contact .col-xs-12 textarea{
  height: 100px;
  border: none;

}

section .container .col-xs-12 button{
  color: white;
  background-color:#1BBC9B ;
  border: white 1px solid;
}

/* footer- section-1 */
footer .container-fluid .social {
  padding: 30px 40px;
}

footer .container-fluid .row.social .col-xs-12 i{
  padding:10px;
  margin: 10px 8px;
  border-radius: 100px;
  border: solid 1px white;
}


/* footer- section-2 */
footer .container-fluid .legal .col-xs-12{
  height: 80px;
  line-height: 80px;
}

